language: python
python:
  - "3.5" # support our own setup
  - "3.6" # Until 2021-12-23 at latest
  - "3.7" # supported until  2023-06-27 at latest
  - "3.8" # latest python version
dist: xenial
os: linux

services:
    - docker

before_install:
    - docker pull python
    - docker run -t -d --name=testenv python

install:
    - docker exec testenv apt update
    - docker exec testenv apt upgrade -y
    - docker exec testenv apt install -y python-pip
    - docker exec testenv pip install flake8 pytest
before_script:
    - docker cp ./ testenv:/
    - docker exec testenv pip install -r dev-requirements.txt
    - docker exec testenv pip install -r requirements.txt
    - docker exec testenv pip install -r pip-install.txt
    - docker exec testenv python --version

script:
    # we ignore E402 because of workarounds we use for modules loading, and F401 because some imports aren't directly used but needed for modules and travis doesn't like that
    - docker exec testenv flake8 modules --ignore E402,F401,W503,E722 --max-line-length 210 --exclude=channelmgnt.py

notifications:
  irc:
    channels:
      - "chat.freenode.net#ZppixBot"
    on_success: change
    on_failure: always
    template:
      - "%{repository}/%{branch}/%{commit} - %{author} %{message} %{build_url}"
