language: python
python:
  - "3.5" # support our own setup
  - "3.6" # Until 2021-12-23 at latest
  - "3.7" # supported until  2023-06-27 at latest
  - "3.8" # latest python version
  - "3.8-dev"  # 3.8 development branch - ONLY DEV BRANCH RUNS TESTS ON
dist: xenial
os: linux

install:
    - pip install flake8
before_script:
    - pip install -r dev-requirements.txt
    - pip install -r requirements.txt
    - pip install -r pip-install.txt
    - python --version

script:
    # we ignore E402 because of workarounds we use for modules loading, and F401 because some imports aren't directly used but needed for modules and travis doesn't like that
    - flake8 modules --ignore E402,F401,W503,E722,E741 --max-line-length 210 --exclude=channelmgnt.py

notifications:
  irc:
    channels:
      - "chat.freenode.net#ZppixBot"
    on_success: change
    on_failure: always
    template:
      - "%{repository}/%{branch}/%{commit} - %{author} %{message} %{build_url}"
