# dependenices used in MirahezeBot
feedparser==6.0.2
requests==2.24.0
sopel>=7.0.5,<8
SQLAlchemy==1.3.20
# shared util scripts
MirahezeBots-jsonparser==1.0.0
# code migrated to own repo awaiting bundle switch
sopel-plugins.adminlist==1.0.3
sopel-plugins.channelmgnt==1.0.3
sopel-plugins.pingpong==1.0.1
sopel-plugins.joinall==1.0.0
