Source: mirahezebot-plugins
Section: python
Priority: optional
Maintainer: MirahezeBots <bots@miraheze.org>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 1.0),
    python3-setuptools, python3-pip, python3-dev, libffi-dev, libc6
Standards-Version: 3.9.5

Package: mirahezebot-plugins
Architecture: any
Pre-Depends: dpkg (>= 1.16.1),  python3 (>= 3.5) , ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Sopel Plugins for Miraheze Bots
